@import '@/styles/_variables.scss';

.tab-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $space-m 0;
  gap: $space-xs;
  width: 326px;
  height: 76px;
  background: $gray-800;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.2);
  border-radius: $radius-large;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  &__tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 $space-s;
    gap: 0;
    width: 326px;
    height: 44px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 65px;
    height: 44px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: $gray-400;
    font-family: $font-main;
    font-size: 12px;
    font-weight: $font-weight-regular;
    line-height: 16px;
    letter-spacing: $letter-spacing-normal;
    border-radius: $radius-main;
    position: relative;
    transition: color 0.18s;
    .tab-bar__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    &--active {
      color: $gray-0;
      font-weight: $font-weight-regular;
      .tab-bar__icon img,
      .tab-bar__icon svg {
        filter: brightness(1000%) grayscale(0%);
      }
      .tab-bar__label {
        color: $gray-0;
        font-weight: $font-weight-regular;
      }
    }
    &--center {
      width: 44px;
      height: 44px;
      z-index: 30;
      margin: 0;
      background: $gray-0;
      border-radius: $radius-main;
      box-shadow: $shadow-main;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      .tab-bar__center-icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg, img {
          width: 24px;
          height: 24px;
          color: $gray-900;
        }
      }
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-400;
    margin-bottom: 2px;
    filter: grayscale(100%) brightness(0.7);
  }
  &__item:hover .tab-bar__icon,
  &__item:focus .tab-bar__icon {
    color: #fff;
  }
  &__item--active .tab-bar__icon {
    filter: none;
    color: $gray-0;
  }
  &__label {
    width: 100%;
    max-width: 100%;
    height: 16px;
    display: block;
    text-align: center;
    font-family: $font-main;
    font-style: normal;
    font-weight: $font-weight-regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: $letter-spacing-normal;
    color: $gray-400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    margin-top: 2px;
  }
} 